<div class="mx-auto max-w-2xl mt-24">  
  <h1 class="font-bold text-4xl mb-6">Todos</h1>


      <%= render "form", todo: Todo.new %>

    <div id="todos" class="divide-y list-none">
      <%= render @todos %>
    </div>
</div>